
.detail {
  padding: 40px;
  border : 1px solid white;
  overflow: hidden;
  background-color:white;
  font-family: 'Open Sans', Arial, sans-serif
}
.panel {
  padding: 40px;
}
.panel-heading {
  color: grey;
}
.testimonials-desc {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.panel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media (max-width: 1441px) {
  .detail img {
    width: 100%;
  }
} 



@media all and (min-width: 1441px) {
  .detail img {
    max-width: 100% !important;
  }
}

.btn-link {
  padding-top: 0;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 0;
  color: #555;
}

.cstmspan a, button {
  float: right;
}
.testimonials-v6 {
  background: white;
}
.naver-share img {
  width: 21px !important;
}
