<div class="panel panel-profile">
  <div class="panel-heading">
    <h2 class="panel-title pull-left">
      <i class="fa fa-comments"></i>댓글
    </h2>
  </div>
  <div class="panel-body">
    <div *ngIf="!ls.get('user')">
      <p>로그인 후 사용해 주세요.</p>
    </div>

    <label class="textarea" *ngIf="ls.get('user')">
      <textarea rows="3" cols="" [(ngModel)]="replyOne.content"></textarea>
    </label>
    <div align="right" *ngIf="ls.get('user')">
      <button (click)="add()" class="btn-u">완료</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="media media-v2" *ngFor="let one of replyAll">
      <div class="media-body">
      <h4 class="media-heading">
        <strong><a href="#">{{one.user_nick}}</a></strong>
        <small>{{one.reg_date}}</small>
      </h4>
      <pre>{{one.content}}</pre>
      <button class="btn btn-default" 
              (click)="delete(one)" 
              *ngIf="ls.get('user') && ls.get('user').user_email === one.user_email">삭제</button>
      </div>
    </div>
  </div>
</div>