<div class="container">
  <div class="content">
    <div class="col-md-10">
      <div class="sky-form">
        <div class="testimonials-v6">
          <div class="testimonials-info">
            <div class="testimonials-desc">
              <h3>{{board.title}}</h3>
              <h5 align="left">
                <i class="fa  fa-user"></i>{{board.user_nick}} &nbsp;&nbsp;
                <i class="fa fa-eye"></i>{{board.hit_count}} &nbsp;&nbsp;
                <i class="fa fa-comments"></i>{{board.reply_count}} &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i>{{board.reg_date}} &nbsp;&nbsp;
                <span class="cstmspan" *ngIf="ls.get('user') && ls.get('user').user_email === board.user_email">
                  <a (click)="edit()"><i class="fa fa-pencil"></i>수정</a>
                  <a (click)="delete()"><i class="fa fa-trash"></i>삭제</a>
                </span>
              </h5>
            </div>
          </div>
          <div class="detail" [innerHTML]="board.content | safeHtml"></div>
          <div align="right" class="testimonials-info">
            <h5><a [routerLink]="['/board', board.menu_fir_seq, board.menu_sec_seq]" routerLinkActive="active"><i class="icon-list"></i>목록</a></h5>
          </div>
        </div>
        <board-reply [boardSeq]="board.board_seq"></board-reply>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>