<div class="container">
  <div class="content col-md-11">
    <div class="menu" *ngFor="let fir of boards">
      <h1>
        <a [routerLink]="['board', fir.menu_fir_seq, fir.menu_sec[0].menu_sec_seq]" 
           [queryParams]="{ index: 1 }"
           class="custom-headline">{{fir.menu_fir_name}}</a>
      </h1>
      <br />
      <table class="table">
        <tr>
          <td width="15%"><b>Category</b></td>
          <td width="45%"><b>Title</b></td>
          <td width="15%"><b>Author</b></td>
          <td width="15%"><b>Date</b></td>
          <td width="10%"><b>Hit</b></td>
        </tr>
        
        <tr *ngFor="let sec of fir.menu_sec">
          <td><a [routerLink]="['board', sec.menu_fir_seq, sec.menu_sec_seq]" [queryParams]="{ index: 1 }" routerLinkActive="active">{{sec.menu_sec_name}}</a></td>
          <td><a [routerLink]="['board', sec.menu_fir_seq, sec.menu_sec_seq, sec.board_seq]" routerLinkActive="active">{{sec.title}}</a> ({{sec.reply_count}})</td>
          <td>{{sec.user_nick}}</td>
          <td>{{sec.reg_date}}</td>
          <td>{{sec.hit_count}}</td>
        </tr>

      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>